/* ===== VIEWPORT ===== */
.viewport {
  position: fixed;
  inset: 0;
  overflow: hidden;
}

.viewport.dragging {
  cursor: grabbing;
}
.grid {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5000px;
  height: 5000px;

  background-image:
    linear-gradient(rgba(120, 140, 170, 0.15) 1px, transparent 1px),
    linear-gradient(90deg, rgba(120, 140, 170, 0.15) 1px, transparent 1px);
  background-size: 20px 20px;

  transform-origin: center;
  will-change: transform;

  z-index: 1;   /* base layer */
}

.center-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  transform: translate(-50%, -50%);
  border-radius: 50%;

  border: 1px solid rgba(140, 180, 240, 0.35);
  box-shadow: 0 0 6px rgba(140, 180, 240, 0.25);

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;

  z-index: 20;  /* TOP MOST */
}


.center-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* keeps image centered */
}
.edges {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 5;
}
