# ===============================
# Angular / Node
# ===============================
Frontend/node_modules/
Frontend/dist/
Frontend/.angular/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ===============================
# .NET
# ===============================
Backend/**/bin/
Backend/**/obj/
Backend/.vs/
*.user
*.suo

# ===============================
# .NET Secrets / Config
# ===============================
appsettings.Development.json
appsettings.Production.json
secrets.json

# ===============================
# Environment Variables
# ===============================
.env
.env.local

# ===============================
# OS / Editor
# ===============================
.DS_Store
Thumbs.db
.vscode/
.idea/
