<div
  class="data-node"
  [style.transform]="'translate(' + x + 'px,' + y + 'px)'"
>

  <div class="data-header">
  <span class="title">{{ title }}</span>

  <div class="header-actions">
    <!-- ADD ITEM BUTTON -->
   <button
  class="add-btn"
  title="Add file"*ngIf="!isGoogleFolder"
  (click)="triggerFileInput($event)"
>
  ＋
</button>


    <!-- CLOSE -->
    <button class="close-btn" (click)="close()">✕</button>
  </div>
</div>
<!-- Hidden file input -->
<input
  type="file"
  #fileInput
  hidden
  (change)="onFileSelected($event)"
/>


  <!-- CONTENT -->
  <div class="data-grid">

<div
  class="data-item"
  *ngFor="let file of visibleItems"
  (click)="openFile(file)"
>

<div class="file-preview">

  <!-- 🎵 AUDIO -->
  <div *ngIf="isAudio(file)" class="file-icon">
    🎵
  </div>

  <!-- 🖼 GOOGLE IMAGE -->
  <img
    *ngIf="!isAudio(file) && isGoogleFile(file) && file.thumbnail"
    [src]="file.thumbnail"
    class="file-thumb"
    alt="thumbnail"
  />

  <!-- 🖼 LOCAL IMAGE -->
  <img
    *ngIf="!isAudio(file) && !isGoogleFile(file) && getLocalImageUrl(file)"
    [src]="getLocalImageUrl(file)"
    class="file-thumb"
    alt="thumbnail"
  />

  <!-- 📁 FALLBACK -->
  <div
    *ngIf="
      !isAudio(file) &&
      !(
        (isGoogleFile(file) && file.thumbnail) ||
        (!isGoogleFile(file) && getLocalImageUrl(file))
      )
    "
    class="file-icon"
  >
    📁
  </div>

</div>

  <div class="file-name">
    [{{ file.fileName }}]
  </div>

</div>

</div>



  </div>
