<div
  class="data-node"
  [style.transform]="'translate(' + x + 'px,' + y + 'px)'"
>

  <div class="data-header">
  <span class="title">{{ title }}</span>

  <div class="header-actions">
    <!-- ADD ITEM BUTTON -->
   <button
  class="add-btn"
  title="Add file"
  (click)="triggerFileInput($event)"
>
  ＋
</button>


    <!-- CLOSE -->
    <button class="close-btn" (click)="close()">✕</button>
  </div>
</div>
<!-- Hidden file input -->
<input
  type="file"
  #fileInput
  hidden
  (change)="onFileSelected($event)"
/>


  <!-- CONTENT -->
  <div class="data-grid">

   <div
  class="data-item"
  *ngFor="let file of visibleItems"
  (click)="openFile(file)"
>
  <!-- IMAGE THUMBNAIL -->
<img
  *ngIf="isImage(file) && getImageUrl(file.id)"
  [src]="getImageUrl(file.id)"
  class="file-thumb"
/>
<!-- ICON FOR NON-IMAGES -->
<div *ngIf="!isImage(file)" class="file-icon" [ngSwitch]="true">

  <!-- PDF -->
  <svg *ngSwitchCase="isPdf(file)"
       xmlns="http://www.w3.org/2000/svg"
       viewBox="0 0 24 24"
       width="24" height="24"
       fill="none"
       stroke="currentColor"
       stroke-width="2"
       stroke-linecap="round"
       stroke-linejoin="round">
    <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"/>
    <path d="M14 2v6h6"/>
  </svg>

  <!-- VIDEO -->
  <svg *ngSwitchCase="isVideo(file)"
       xmlns="http://www.w3.org/2000/svg"
       viewBox="0 0 24 24"
       width="24" height="24"
       fill="none"
       stroke="currentColor"
       stroke-width="2">
    <polygon points="23 7 16 12 23 17 23 7"/>
    <rect x="1" y="5" width="15" height="14" rx="2"/>
  </svg>

  <!-- AUDIO -->
  <svg *ngSwitchCase="isAudio(file)"
       xmlns="http://www.w3.org/2000/svg"
       viewBox="0 0 24 24"
       width="24" height="24"
       fill="none"
       stroke="currentColor"
       stroke-width="2">
    <path d="M9 18V5l12-2v13"/>
    <circle cx="6" cy="18" r="3"/>
    <circle cx="18" cy="16" r="3"/>
  </svg>

  <!-- DEFAULT FILE -->
  <svg *ngSwitchDefault
       xmlns="http://www.w3.org/2000/svg"
       viewBox="0 0 24 24"
       width="24" height="24"
       fill="none"
       stroke="currentColor"
       stroke-width="2">
    <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"/>
    <path d="M14 2v6h6"/>
  </svg>

</div>


  <div class="file-tooltip">{{ file.fileName }}</div>
</div>



  </div>
</div>
