<div
  class="data-node"
  [style.transform]="'translate(' + x + 'px,' + y + 'px)'"
>

  <div class="data-header">
  <span class="title">{{ title }}</span>

  <div class="header-actions">
    <!-- ADD ITEM BUTTON -->
   <button
  class="add-btn"
  title="Add file"
  (click)="triggerFileInput($event)"
>
  ＋
</button>


    <!-- CLOSE -->
    <button class="close-btn" (click)="close()">✕</button>
  </div>
</div>
<!-- Hidden file input -->
<input
  type="file"
  #fileInput
  hidden
  (change)="onFileSelected($event)"
/>


  <!-- CONTENT -->
  <div class="data-grid">

   <div
  class="data-item"
  *ngFor="let file of visibleItems"
  (click)="openImage(file)"
>
  <img
    *ngIf="getImageUrl(file.id)"
    [src]="getImageUrl(file.id)"
  />
  <div class="file-tooltip">{{ file.fileName }}</div>
</div>



  </div>
</div>
