<app-header
[username]="username"
  [currentFolder]="currentFolderName"
  (addFolder)="onAddFolder()">
</app-header>

<div class="grid" #grid>

  <!-- EDGES -->
  <svg class="edges" width="5000" height="5000">
    <line
      *ngFor="let e of getVisibleEdges()"
      appEdge
      [x1]="e.x1"
      [y1]="e.y1"
      [x2]="e.x2"
      [y2]="e.y2">
    </line>
  </svg>

  <!-- ROOT -->
  <div
    class="center-circle"
    #centerCircle
    (click)="toggleRoot()">
    <img src="user_c.png" />
  </div>

  <!-- DIRECTORIES -->
  <ng-container *ngFor="let dir of directories">
    <app-directory
      *ngIf="shouldShow(dir)"
      [name]="dir.name"
      [x]="dir.x"
      [y]="dir.y"
      (clicked)="onFolderClick(dir)"
      (moved)="onFolderMoved(dir, $event)">
    </app-directory>
  </ng-container>

  <!-- DATA NODE (NO FILES YET) -->
  <app-model-data
    *ngIf="
  selectedFolderId &&
  dataNodePosition && selectedFolderItems.length > 0"
    [x]="dataNodePosition.x"
    [y]="dataNodePosition.y"
    [title]="currentFolderName"
    [items]="[]"
    [basePath]="null"
    (closeNode)="closeModelData()">
  </app-model-data>

</div>

<!-- ADD FOLDER MODAL -->
<div class="add-folder-modal" *ngIf="isAddFolderOpen">

  <h3>Add Folder</h3>

  <label>
    Folder Name
    <input type="text" [(ngModel)]="draftFolder.name" />
  </label>

  <label>
    X Position
    <input type="number" [(ngModel)]="draftFolder.x" />
  </label>

  <label>
    Y Position
    <input type="number" [(ngModel)]="draftFolder.y" />
  </label>

  <div class="actions">
    <button class="cancel" (click)="cancelAddFolder()">Cancel</button>
    <button class="save" (click)="saveAddFolder()">Save</button>
  </div>

</div>

<!-- IMAGE VIEWER (DISABLED FOR NOW) -->
<div
  class="image-viewer"
  *ngIf="selectedImage"
  (click)="closeImage()"
>
  <img
    [src]="selectedImage"
    (click)="$event.stopPropagation()"
  />
</div>
