.header {
  height: 46px;
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
 /* pointer-events: none; */
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 20px;
}

/* LEFT */
.username {
  color: #ffffff;
  font-size: 18px;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 600;
  letter-spacing: 0.3px;
}

/* RIGHT CONTAINER */
.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
  margin-top: 10px;
  padding: 6px 50px;
  border-radius: 6px;
}

/* FOLDER NAME */
.folder-name {
  color: #e5e7eb;
  font-size: 12px;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 500;
  opacity: 0.9;
  letter-spacing: 0.4px;
}

/* ADD FOLDER BUTTON */
.add-folder-btn {
  font-size: 11px;
  padding: 4px 10px;

  font-family: 'IBM Plex Mono', monospace;
  font-weight: 500;
  letter-spacing: 0.3px;
  margin-left: 6px;
  background: transparent;
  color: #9ca3af;

  border: 1px dashed #374151;
  border-radius: 4px;

  cursor: pointer;
  transition: all 0.15s ease;
}

.add-folder-btn:hover {
  color: #ffffff;
  border-color: #6b7280;
  background: rgba(255, 255, 255, 0.08);
}
