.folder-directory {
  position: absolute;
  width: 80px;
  text-align: center;
  cursor: pointer;
  z-index: 10;
  margin-top: -20px;
  margin-left: -40px;   
}

.label {
  font-size: 12px;
  color: white;
}
